@import "../variables/_variables.scss";

.nav__img {
    width: 80px;
    height: 48px;
    margin: 0 20px;
}

.nav__links {
    text-decoration: none;
    color:#3A1212;
    border-bottom: 3px solid #FF2625;
}